.header{
    height: 40px;
    background-color: darkblue;
    padding-top: 15px;
}
a{
    text-decoration: none;
    color: white;
    padding: 5px 15px 5px 5px;
}
.header-1{
    float: right;
    color: white;
}
.header-1 img{
    height: 30px;
}
.body_1_1{
    width: 100%;
    height: 30px;
    padding-top: 15px;
}
table tr td{
    text-align: left;
}
.body_1_2{

    width: 98%;
}
.body_1_2 table tr td{
    width: 10%;
    font-family: "Times New Roman", Times, serif;
    padding: 10px;
}
#title_1{
    width: 24%;
}
#title_1_1{
    background-color: #777777;
    color: white;
}
#title_1_1 td{
    padding: 12px;
}